<!DOCTYPE html>
<html lang="en">

<head>
    <title>store</title>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.4.1/dist/css/bootstrap.min.css"
        integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous"> -->
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">


    <link rel="stylesheet" href="/css/s.css" />
    <script src="/js/store.js" async></script>

</head>

<body onload="ready()">
    <header class="main-header  bg-image    bg-image p-5   ">
      


        <nav class="nav1">
            <ul>
                <!-- <li><a href="cart.html">CART</a></li> -->
                <li><a href="home">HOME</a></li>
                <li><a href="/">STORE</a></li>
                <li><a href="about">ABOUT</a></li>
            </ul>
        </nav>
        <span class="sign">
            <form action="/signin" method="get"><button>signin</button></form>
            <form action="/signup" method="get"><button>signup</button></form>
            </span>
        <!-- <h1 class="main-h1  ">FC Barcelona
        </h1> -->
    </header>
         <!-- <div class="btn-category">
           <form><button>   traning</button></form>
           <form><button>  Gifts and Accessories </button></form>
           <form><button> Back to School </button></form>
    
   </div> -->
    <section class="container">
        
        <h2 class="section-header">Traning</h2>

        <div class="shop-items">
            <% for (var i=0; i<prods.length; i++) {     console.log(prods)
                if(prods[i].category == "traning"){
                %>
            <div class="shop-item">

                <img class="shop-item-image" src=" <%=prods[i].img%>">
                <span class="shop-item-title"> <%= prods[i].title %> </span>
                <div class="shop-item-details">
                    <span class="shop-item-price"><%=prods[i].price %> $ </span>
                    <button class="shop-item-button btn btn-Secondary btn-sm">Add To Cart</button>
                </div>
            </div>
            <% }} %>
        </div>

    </section>
    <section class="container">
        
        <h2 class="section-header">Gifts and Accessories</h2>

        <div class="shop-items">
            <% for (var i=0; i<prods.length; i++) {      
                if(prods[i].category == "Gifts and Accessories"){
                %>
            <div class="shop-item">

                <img class="shop-item-image" src=" <%=prods[i].img%>">
                <span class="shop-item-title"> <%= prods[i].title %> </span>
                <div class="shop-item-details">
                    <span class="shop-item-price"><%=prods[i].price %> $ </span>
                    <button class="shop-item-button btn btn-Secondary btn-sm">Add To Cart</button>
                </div>
            </div>
            <% }} %>
        </div>

    </section>
    <section class="container">
        
        <h2 class="section-header">Back to School</h2>

        <div class="shop-items">
            <% for (var i=0; i<prods.length; i++) {     console.log(prods)
                if(prods[i].category == "Back to School"){
                %>
            <div class="shop-item">

                <img class="shop-item-image" src=" <%=prods[i].img%>">
                <span class="shop-item-title"> <%= prods[i].title %> </span>
                <div class="shop-item-details">
                    <span class="shop-item-price"><%=prods[i].price %> $ </span>
                    <button class="shop-item-button btn  btn-sm">Add To Cart</button>
                </div>
            </div>
            <% }} %>
        </div>

    </section>


    <section class="container">
        <h2 class="section-header">CART</h2>
        <div class="cart-row">
            <b class="cart-header cart-column cart-item">item</b>
            <b class="cart-header cart-column cart-price">price</b>
            <b class="cart-header cart-column cart-quantity ">Quantity</b>
        </div>

        <div class="cart-items">


          
        </div>

        <div class="cart-total">
            <b class="cart-total-title">Total</b>
            <span class="cart-total-price">$0</span>
        </div>
        <div><button class="btn-purchase  btn  btn-sm">purchase</button></div>

    </section>


    <footer class="main-footer">
        <h3 class="footer-h3">Barcelona</h3>
        <div><img src="images/300px-Fc_barcelona.svg.png" height="60px"></div>
        <nav class="nav-footer ">
            <li><a class="text-white"  href="https://store.fcbarcelona.com/en/contact-us">
                    Contact Us
                </a></li>
            <li><a class="text-white" href="https://store.fcbarcelona.com/en/privacy">
                    Privacy Policy
                </a></li>
            <li><a class="text-white" href="https://store.fcbarcelona.com/en/purchase-conditions">
                    Purchase conditions
                </a></li>
            <li><a class="text-white" href="https://store.fcbarcelona.com/en/cookies">

                    Cookies
                </a></li>
        </nav>

        <p>
        <p>Follow Barça</p>
        <ul>

            <li><a href="https://www.youtube.com/user/fcbarcelona"> <img src="images/Youtube Logo.png"></a></li>
            <li><a href="https://open.spotify.com/playlist/3zxp6hwNP90supczKJt6mA?si=e297e5bc8e7f4ed8/"> <img
                        src="images/Spotify Logo.png"></a></li>
            <li><a href="http://www.facebook.com/fcbarcelona/"> <img src="images/Facebook Logo.png"></a></li>
        </ul>
        </p>



    </footer> 
    <!-- <footer class=" text-white " style="background-color: #21081a;">
        <img src="images/300px-Fc_barcelona.svg.png" height="60px">
        <div class="container p-4"></div>
     
        <div class="text-center p-3"  ">
           <a class="text-white"href="https://store.fcbarcelona.com/en/cookies">
          

            Cookies,</a>
            <a class="text-white" href="https://store.fcbarcelona.com/en/purchase-conditions">
                Purchase conditions
            </a>
            <aclass="text-white"  href="https://store.fcbarcelona.com/en/privacy">
                Privacy Policy
            </a>
        </div>
        <ul>

            <li><a href="https://www.youtube.com/user/fcbarcelona"> <img src="images/Youtube Logo.png"></a></li>
            <li><a href="https://open.spotify.com/playlist/3zxp6hwNP90supczKJt6mA?si=e297e5bc8e7f4ed8/"> <img
                        src="images/Spotify Logo.png"></a></li>
            <li><a href="http://www.facebook.com/fcbarcelona/"> <img src="images/Facebook Logo.png"></a></li>
        </ul>      </footer> -->

</body>

</html>